.consultation {
  background: url(../img/bg2.png) center (center/cover) no-repeat;
  min-height: calc(680px - (100px + 108px));
  color: $text1;
  padding: 100px 0 108px 0;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 8px;
    max-width: 799px;
  }
  &__subtitle {
    max-width: 426px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }
}
