.watch {
  padding: 81px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    padding: 0 127px;
    margin: 0 auto;
    position: relative;
    img {
      display: block;
      margin: 0 auto;
      width: 90%;
    }
  }
}

// .slick-slide img {
//   display: inline-block;
//   width: 100%;
// }

.slick-dots {
  list-style: none;
  justify-content: center;
  margin-top: 20px;
  display: block;
  li {
    display: block;
    border-radius: 100%;
    width: 20px;
    margin: 10px 0;
    height: 20px;
    background-color: $main-color;
    opacity: 40%;
    transition: all 0.5s ease;

    button {
      display: none;
    }
  }
  .slick-active {
    transition: all 0.5s ease;
    opacity: 100%;
  }
}
