.watch {
  max-height: 700px;
  padding: 81px 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  &__inner {
    max-height: 527px;
    img {
      display: block;
      text-align: center;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .is-selected {
    overflow: hidden;
  }
  //точки
  .flickity-page-dots .dot {
    display: none;
  }

  //стрелки
  .flickity-button {
    color: $main-color;
  }
  .flickity-viewport {
    transition: height 0.2s;
  }

  //каждая карточка карусели
  .carousel-cell {
    width: 100%;
    margin-right: 10px;
  }
}
